* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #666666;
    background-color: #FFF;
    font-size: 20px;
}

a {
    color: #333;
}

body, h1, h2, h3, h4, p, div, ul, ol, li {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: 300;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.is-center {
    text-align: center;
}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    color: #444;
}

ul.no-list {
    list-style-type: none;
    padding-left: 0;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon a {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #555;
    font-size: 30px;
}

.ribbon {
    padding: 2em;
    text-align: justify;
    font-size: 22px;
}

.ribbon-left {
    text-align: left;
    padding-right: 1em;
}

.letter {
    color: #CCC;
    background: #444;
}

.events {
    background: #DDD;
    color: #444;
}

/* This is the class used for the footer */
/* .footer {
    background: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff
} */
